.slidein{
<<<<<<< HEAD
	animation-duration: 1s;
=======
	animation-duration: 5s;
>>>>>>> origin/make_slidein_retriable
	animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
